<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/estilo.css">
</head>
<body>

    <!-- <video id="my-video" class="video" autoplay muted loop>
        <source src="img/Ship - 54829.mp4" type="video/mp4">
     </video> -->


     <div class="d-flex justify-content-center">
     <div id="imagen" class="card border-dark mb-3" style="width: 40rem;">
        <img class="card-img-top" src="static/img/<%= card.img %>.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title"><%= card.title %></h4>
          <p class="card-text"><%= card.description %></p>
        </div>
        <% if (card.options) { %>
          <ul class="list-group list-group-flush">
            <% for(var i=0; i<card.options.length; i++){ %>
              <li class="list-group-item"><%=card.options[i]%></li>
              <% } 
            %>
          </ul>
        <% } %>
      </div>
    </div>
    <audio src="/static/audios/<%= card.audio %>.mp3" controls autoplay></audio>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
<!-- Hola  -->